@model Product
<form method="post" action="~/Products/Edit">
    <label>Id</label>
    <input type="text" asp-for="Id" readonly/>
    <label>Name</label>
    <input type="text" asp-for="Name" />
    <label>Price</label>
    <input type="number" asp-for="Price" />
    <button>Submit</button>
</form>